.wrapper {
  display: flex;
  text-align: justify;
  position: relative;
  max-width: 80%;
  flex-flow: row;

}

.main {
  font-family: helvetica, arial;
  text-align: justify;
  align-self:;
  font-size: 15px;
  position: relative;
  min-width: 100%;
  top: 6em;
  right: 2em;

}

.navbarWrapper {
  width: 1500px;
  order: -2;
  padding: 5em;
  text-align: left;

}

.header {
  font-family: helvetica;
  font-size: 35px;
  width: 600px;
}

.navbar{
  width: 100px;
  list-style-type: none;
}

.navbar a{
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: helvetica;
  font-size: 14px;
}

.navbar a:hover {
  background-color: orange;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
