.wrapper {
  display: flex;
  text-align: justify;
  position: relative;
  max-width: 80%;
  flex-flow: row;

}

.main {
  font-family: helvetica, arial;
  text-align: justify;
  font-size: 15px;
  position: relative;
  width: 90%;
  top: 5em;
  right: 3em;

}

.navbarWrapper {
  width: 200px;
  order: -2;
  padding: 5em;
  text-align: left;
  position: relative;

}

.header {
  font-family: helvetica;
  font-size: 30px;
  width: 1000px;
}

.navbar{
  width: 100px;
  list-style-type: none;
}

.navbar a{
  color: #0277bd;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: helvetica;
  font-size: 14px;
}

.navbar a:hover {
  color: #0277bd;
  text-decoration: underline;
}

h1 {
    font-size: 30px;
}

p, ul {
    padding: 0;
    margin: 0;
}

p {
  line-height: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
