.header {
  font-family: helvetica;
  font-size: 35px;
  position: relative;
  max-width: 800px;

}

.wrapper {
  display: flex;
  text-align: justify;
  position: relative;
  min-height: 100%;
  min-width: 100%;

}

.main {
  font-family: helvetica, arial;
  top: 8em;
  right: 8em;
  text-align: justify;
  font-size: 15px;
  position: relative;
  max-width: 75%;
  margin-left: auto;
  justify-content: space-around;

}

.navbar{
  width: 100px;
  padding: 5em;
  position: relative;
  list-style-type: none;
  order: -1;
}

.navbar a{
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-family: helvetica;
  font-size: 14px;
}

.navbar a:hover {
  background-color: orange;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
